<!--Display All rooms-->
<div *ngFor="let item of rooms">
  <button>{{ item.name }}</button>
</div>

<div class="meeting-list">
  <!--<h2>Meetings for Room: {{ room }}</h2>-->
  <ul>
    <li *ngFor="let meeting of meetings">
      <strong>{{ meeting.MeetingRoom }}</strong>
      <div>{{ meeting.startTime }} - {{ meeting.endTime }}</div>
      <button (click)="deleteMeeting(meeting.id)">Delete</button>
    </li>
  </ul>
  <p *ngIf="meetings.length === 0">No meetings scheduled for this room.</p>
</div>
