<!-- <div>
  <button (click)="BookRoom()">Book a Meeting</button>
</div> -->

<div (ngSubmit)="BookRoom()">
  <h2>Book A Meeting Room</h2>
  <label>User Name</label>
  <input type="text" [(ngModel)]="name" />
  <label>Meeting Room</label>
  <input type="text" [(ngModel)]="room" />
  <label>Date</label>
  <input type="text" [(ngModel)]="date" />
  <label>Start Time</label>
  <input type="text" [(ngModel)]="startTime" />
  <label>End Time</label>
  <input type="text" [(ngModel)]="endTime" />
  <label>Agenda</label>
  <input type="text" [(ngModel)]="Agenda" />
  <button type="submit">Book Meeting</button>
</div>
